body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 900;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


#title {
  text-align: left;
}

#features {
  /* width: 80%; */
  /* margin: 5rem 5rem 5rem 5rem; */
  background-color: white;
  position: relative;
  z-index: 1;
}

.features-title {
  font-size: 1.5rem;
}

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CLASS SELECTORS */
.iphone-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  top: 2rem;
  right: 30%;
}

.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
padding: 3% 7% 15%;
}

.features-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.features-subtitle {
  color: #8f8f8f;
}

.features-content {
  padding: 5%;
}

.features-icons {
  /* color: #ef7182; */
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #ff4c68;
}

.footer-icons {
  margin: 20px 10px;
  margin-bottom: 1rem;
}

/* Nav-Var */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.press-images {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

.pricing-column {
  padding: 3% 2%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* download-buttons */
.button-download {
  margin: 5% 3% 5% 0;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone-image {
    position: static;
    transform: rotate(0);
  }
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
